{{ $html.doctype || '<!DOCTYPE html>' }}
<html>
<head>
    <meta charset="{{ $html.head.charset || 'utf-8' }}" />
    <title>{{ html.head.title }}</title>
{{# html.head.metas}}
    <meta content="{{ content }}"  http-equiv="{{ http-equiv }}" name="{{ name }}" >
{{/html.head.metas}}
{{# html.head.links}}
    <link rel="{{ rel }}" type="{{ type }}" media="{{ media }}" href="{{ href }}" />
{{/html.head.links}}
{{# html.head.script}}
     <script src="{{ src }}" ></script>
{{/html.head.script}}
</head>
<body>{{ html.body }}</body>
</html>