<html
<?= $html->doctype || '<!DOCTYPE html>' ?>
<html <?= $html->lang?> >
<head>
    <meta charset="<?=$html->head->charset || 'utf-8' ?>" />
    <title><?=$html->head->title?></title>
<? foreach ($html->head->metas as $meta) :?>
    <meta content="<?=$meta->content?>"  http-equiv="<?=$meta->http-equiv?>" name="<?=$meta->name?>" >
<? endforeach; ?> 
<? foreach ($html->head->links as $link) :?>
    <link rel="<?=$link->rel?>" type="<?=$link->type?>" media="<?=$link->media?>" href="<?=$link->href?>" />
<? endforeach; ?>
<? foreach ($html->head->scripts as $script) :?>
    <script src=<?=$script->src?>" ></script>
<? endforeach; ?>
</head>
<body><?=$html->body?></body>
</html>